	
	/*****iteration*****/
	.container {
		font-family: sans-serif;
		width: 1280px;
		margin: 0 auto;
	}

	/*****iteration*****/


	/*****header*****/

	.header {
		display: flex;
		flex-direction: column;
		margin-top: 63px;
		transition: 0.7s;
	}

	.header:hover {
		border: 2px solid #3181A6;
		transition: 0.5s;
	}

	.header-menu {
		display: flex;
		text-align: center;
	}

	.header-menu-item {
		margin: 0 auto;
		text-align: center;
	}

	.header-title {
		font-size: 80px;
		line-height: 93px;
	}

	.header-title-link {
		text-decoration: none;
		color: #000000;
		text-align: center;
	}

	.header-title span {
		color: #4ec5fc;
	}

	.header-menu {
		display: flex;
		justify-content: space-around;
		text-align: center;
		padding-left: 150px;
		padding-right: 192px;
		background-color: #35444F;

	}

	.header-menu-item {
		padding-top: 25px;
		padding-bottom: 18px;
		padding-inline: 55px;
		border-right: 2px solid #FFFFFF;
		text-align: center;
	}

	.mb {
		border-left: 2px solid #FFFFFF;
	}

	.header-menu-link {
		color: #FFFFFF;
		text-decoration: none;
		text-align: center;
	}

	/*****header*****/


	/*****hero*****/
	.hero {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}

	.hero-menu {
		margin-top: 48px;

	}

	.hero-section-list {
		border: 1px solid #485863;
	}

	.hero-section-list:hover {
		border: 2px solid #3181A6;
		transition: 0.5s;
	}

	.hero-menu-list {
		text-align: left;
		color: #495863;
		width: 344px;
		padding-top: 26px;

	}

	.hero-menu-item {
		display: flex;
		justify-content: space-between;
		padding-left: 40px;
	}

	.hero-menu-link {
		color: #485863;
		text-decoration: none;
		padding-bottom: 50px;
	}

	.hero-menu-link span {
		color: #000000;
		text-align: center;
		padding-left: 38px;
		padding-right: 78px;
	}

	/*****hero*****/


	/*****info*****/

	.info {
		margin-top: 48px;
		margin-left: 52px;
	}

	.info:hover {
		border: 2px solid #3181A6;
		transition: 0.5s;
	}

	.info-image {
		display: flex;
		align-items: center;
		padding-block: 75px;
		border: 1px solid #485863;

	}

	.info-image-content {
		margin: 0 auto;

	}

	.info-content {
		padding-top: 37px;
		text-align: left;
	}

	/*****info*****/


	/*****footer*****/

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-top: 50px;
		background-color: #63696E7A;
		margin-bottom: 30px;
	}

	.footer:hover {
		border: 2px solid #3181A6;
		transition: 0.5s;
	}

	.footer-menu-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 60px;

	}

	.footer-menu-item {
		padding-right: 40px;
		padding-bottom: 20px;
		padding-top: 20px;
	}

	.footer-menu-link {
		text-decoration: none;
		color: #000000;
		text-align: left;

	}

	.footer-menu-link span {
		color: #3181A6;
		padding-bottom: 13px;
		border-bottom: 2px solid #3181A6;
	}

	.footer-text {
		text-align: left;
		padding-right: 40px;
	}

	/*****footer*****/